.mb-10 {
    margin-bottom: 0.1rem;
}
.mb-15 {
    margin-bottom: 0.15rem !important;
}
.mb-20 {
    margin-bottom: 0.2rem;
}
.mb-25 {
    margin-bottom: 0.25rem;
}
.mb-30 {
    margin-bottom: 0.3rem !important;
}
.mb-35 {
    margin-bottom: 0.35rem;
}
.mb-40 {
    margin-bottom: 0.4rem;
}
.mb-50 {
    margin-bottom: 0.5rem;
}
.mb-60 {
    margin-bottom: 0.6rem !important;
}
.mb-65 {
    margin-bottom: 0.65rem !important;
}
.mb-70 {
    margin-bottom: 0.7rem;
}
.mb-88 {
    margin-bottom: 0.88rem;
}

.mr-10 {
    margin-right: 0.1rem;
}
.mr-15 {
    margin-right: 0.15rem;
}
.mr-20 {
    margin-right: 0.2rem;
}
.mr-30 {
    margin-right: 0.3rem;
}

.vote-course .van-popup {
    background-color: transparent !important;
}

.form-index .van-field__body {
    padding: 0.2rem !important;
    box-sizing: border-box !important;
}
.form-index .van-field__body textarea {
    height: 3rem !important;
    font-size: 0.32rem !important;
}
.form-index .van-field__word-limit {
    font-size: 0.24rem !important;
}

.questions-content .van-field__body {
    padding: 0.2rem !important;
    box-sizing: border-box !important;
}

.questions-content .van-field__body textarea {
    height: 3rem !important;
    font-size: 0.32rem !important;
}

.questions-content .van-field__word-limit {
    font-size: 0.24rem !important;
}

.user-info .van-field__label {
    width: 0.8rem !important;
    font-size: 0.32rem !important;
}
.user-info input {
    font-size: 0.32rem !important;
}

.vote-details .van-skeleton__avatar {
    width: 1.86rem !important;
    height: 2.48rem !important;
    margin-right: 0.2rem !important;
    border-radius: 0 !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #f2f3f5;
}

.bottom-btn .van-skeleton__row {
    width: 100% !important;
    height: 100% !important;
}

.step-box .van-skeleton__row {
    width: 3.3rem !important;
    height: 0.88rem !important;
    border-radius: 0.4rem;
    margin: auto;
}
.skeleton-fade {
    background: #f2f3f5;
    animation-duration: 1.2s;
    animation-name: blink;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.van-nav-bar .van-icon {
    color: #085b8d !important;
}
.van-nav-bar__text {
    color: #085b8d !important;
}

.van-button--disabled {
    cursor: not-allowed !important;
    opacity: 0.2 !important;
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}
